<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.douyin.repository.mapper.UserRecipeMapper">
    <select id="getUserRecipes" parameterType="string" resultType="com.douyin.dto.UserRecipeDTO">
        SELECT
            ur.id,
            ur.recipe_id AS recipeId,
            r.name AS name,
            r.image AS image,
            r.cooking_method AS cookingMethod,
            ur.user_rating AS userRating,
            ur.comment AS comment
        FROM user_recipes ur
                 INNER JOIN recipes r ON ur.recipe_id = r.recipe_id
        WHERE ur.user_id = #{userId}
    </select>
</mapper>